<div class="container-fluid">
   <div class="row">
      <div class="span12 searchResultTitle">
         Schedule search result :
         For downloads of all stages, including the extended stages 5-8, please
         <a target="_blank" href="http://www.eskom.co.za/Pages/LS_schedules.aspx">click here</a>.
      </div>
   </div>
   <div class="row">
      <div class="span4 areaInfo">
         <div class="areaInfoItem">
            <span class="areaInfoLabel">Province:</span> Western Cape
            <input type="hidden" id="provinceId" value="9" />
            <input type="hidden" id="province" value="Western Cape" />
         </div>
         <div class="areaInfoItem">
            <span class="areaInfoLabel">City:</span> City of Cape Town
            <input type="hidden" id="municipalityId" value="342" />
            <input type="hidden" id="municipality" value="City of Cape Town" />
         </div>
         <div class="areaInfoItem">
            <span class="areaInfoLabel">Suburb:</span> Milnerton
            <input type="hidden" id="suburbId" value="1058852" />
            <input type="hidden" id="suburbName" value="Milnerton" />
         </div>
         <!--<div class="areaInfoItem">
            <span class="areaInfoLabel">Feeder Info to go here</span>
            <input type="hidden" id="suburbId" value="1058852" />
            <input type="hidden" id="suburbName" value="Milnerton" />-->
         <div class="areaInfoItem">
            <span class="areaInfoLabel">Month:</span> 02-07-2022&nbsp;to&nbsp;29-07-2022&nbsp;&nbsp;
         </div>
         <div class="areaInfoItem">
            <input type="hidden" id="suburbId" value="1058852" />
            <input type="hidden" id="suburbName" value="Milnerton" />
         </div>
         <div class="areaInfoItem">
            <input type="hidden" id="suburbId" value="1058852" />
            <input type="hidden" id="suburbName" value="Milnerton" />
         </div>
         <div class="areaInfoItem">
            <input type="hidden" id="suburbId" value="1058852" />
            <input type="hidden" id="suburbName" value="Milnerton" />
         </div>
      </div>
      <div class="span2 scheduleInfoBox">
         <img src="/Images/icoLoadShedStage1Red.png" alt="Stage 1" />
         <div class="stageSelectInput">
            <input name="stage" type="radio" value="1" checked><span>Stage 1</span>
         </div>
         <p><span style="color:#96330f">Up to 1000 MW to be shed</span></p>
      </div>
      <div class="span2 scheduleInfoBox">
         <img src="/Images/icoLoadShedStage2.png" alt="Stage 2" />
         <div class="stageSelectInput">
            <input name="stage" type="radio" value="2"><span>Stage 2</span>
         </div>
         <p><span style="color:#96330f">Up to 2000 MW to be shed</span></p>
      </div>
      <div class="span2 scheduleInfoBox">
         <img src="/Images/icoLoadShedStage3.png" alt="Stage 3" />
         <div class="stageSelectInput">
            <input name="stage" type="radio" value="3"><span>Stage 3</span>
         </div>
         <p><span style="color:#96330f">Up to 3000 MW to be shed</span><br></p>
      </div>
      <div class="span2 scheduleInfoBox">
         <img src="/Images/icoLoadShedStage4.png" alt="Stage 4" />
         <div class="stageSelectInput">
            <input name="stage" type="radio" value="4"><span>Stage 4</span>
         </div>
         <p><span style="color:#96330f">Up to 4000 MW to be shed</span><br></p>
      </div>
      <div>
         <p> <span style="color:#FFFFFF">Blank Line</span><br></p>
      </div>
      <div class="span2 scheduleInfoBox">
         <img src="/Images/icoLoadShedStage5.png" alt="Stage 5" />
         <div class="stageSelectInput">
            <input name="stage" type="radio" value="5"><span>Stage 5</span>
         </div>
         <p><span style="color:#96330f">Up to 5000 MW to be shed</span><br></p>
      </div>
      <div class="span2 scheduleInfoBox">
         <img src="/Images/icoLoadShedStage6.png" alt="Stage 6" />
         <div class="stageSelectInput">
            <input name="stage" type="radio" value="6"><span>Stage 6</span>
         </div>
         <p><span style="color:#96330f">Up to 6000 MW to be shed</span><br></p>
      </div>
      <div class="span2 scheduleInfoBox">
         <img src="/Images/icoLoadShedStage7.png" alt="Stage 7" />
         <div class="stageSelectInput">
            <input name="stage" type="radio" value="7"><span>Stage 7</span>
         </div>
         <p><span style="color:#96330f">Up to 7000 MW to be shed</span><br></p>
      </div>
      <div class="span2 scheduleInfoBox">
         <img src="/Images/icoLoadShedStage8.png" alt="Stage 8" />
         <div class="stageSelectInput">
            <input name="stage" type="radio" value="8"><span>Stage 8</span>
         </div>
         <p><span style="color:#96330f">Up to 8000 MW to be shed</span><br></p>
      </div>
   </div>
   <div class="row_extra" style="padding: 10px;">
      <div>
         <p style=" text-align:center;padding-top:5px;"> <span style="color:#96330f">To view or print a schedule showing all stages for this search result and date range,</span> <a style="font-size:medium" Target="_blank" href='/LoadShedding/DownloadFile?ID=1058852&amp;Name=Milnerton' ">Click Here</a></p>
      </div>
      <div class="span3;   padding-top: 2cm; stageSelectInput">
         <p>If you are an Eskom customer and cannot find, or do not understand, your schedule, please log onto <a href="https://csonline.eskom.co.za/" target="_blank">CS Online</a> or contact us on <b>0860037566</b>, to verify your load shedding schedule.</p>
      </div>
   </div>
</div>
